* {
 box-sizing: border-box;
 }

 body {
 font-family: Arial, Helvetica, sans-serif;
 }

 /* Style header */
 header {
 background-color: blue ;
 padding: 30px;
 text-align: center;
 font-size: 35px;
 color: white;
 }

 /* Bagian isi web */
 section {
 display: -webkit-flex;
 display: flex;
 }

 /* navigation menu */
 nav {
 -webkit-flex: 1;
 -ms-flex: 1;
 flex: 1;
 background: yellow ;
 padding: 10px;
 }

 /* inside menu */
 nav ul {

 list-style-type: non
padding: 0;
 }

 /* content */
 article {
 -webkit-flex: 3;
 -ms-flex: 3;
 flex: 3;
 background-color: blue DARK;
 padding: 10px;
 }

 /* footer */
 footer {
 background-color: blue;
 padding: 10px;
 text-align: center;
 color: white;
 }

 @media (max-width: 600px) {
 section {
 -webkit-flex-direction: column;
 flex-direction: column;
 }
 }
     fieldset{
        border: solid blue;
        border-left: red;
    }
